body {
  background-color:rgb(240, 136, 222);
}

.titulo{
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(74, 15, 129);
}

.img{
  text-align: center;
}

.contenido{
  text-align: center;
  font-family: monospace;
  font-size: large;
  color:blueviolet
}
